{% extends "layout.html" %}

{% block content %}
<table class="table">
    <thead>
    <tr>
        <th scope="col">Name</th>
        <th scope="col">QTY</th>
        <th scope="col">Reserved QTY</th>
        <th scope="col">Price QTY</th>
        <th scope="col">Price Reserved QTY</th>
    </tr>
    </thead>
    <tbody>
    {% for brand in brands %}
    <tr>
        <th scope="row">{{ brand.get_name() }}</th>
        <td>{{ brand.get_quantity() }}</td>
        <td>{{ brand.get_reserved() }}</td>
        <td>{{ brand.get_price_quantity() }}</td>
        <td>{{ brand.get_price_reserved() }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}

